{% include "shop/common/header.html" %}

<div id="category-product" class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
    <div class="row">{% include "shop/common/column_left.html" %}
        <div id="content" class="col-9">
            <h1>{{ title }}</h1>
            <div class="row">
            {% for product in products %}

                <div class="col-3">
                    <div class="card">
                        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.title}}">
                        <div class="card-body">
                            <a href="{{product.get_absolute_url}}"><h5 class="card-title">{{ product.title}}</h5> </a>
                            <p class="card-text">{{product.description|truncatewords:20}}</p>
                            <p>{{product.price}} <span>руб.</span></p>
                            <a href="#" class="btn btn-primary">В корзину</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "shop/common/footer.html" %}
